<h3>Welcome, <%= @user.email %></h3>

<ul><h5>Teams</h5>
  <% @teams.each do |team| %>
    <a href='<%= user_team_path(@user, team) %>'><li><%= team.name %></li></a>
  <% end %>


<%= link_to "Create a Team", new_user_team_path(@user) %>